language: ruby
rvm:
  - "1.9.3"
  - "2.0.0"
  - "rbx-19mode"
before_install:
  - "sudo apt-get -qq update"
  - "sudo apt-get -qq install rdnssd libavahi-compat-libdnssd-dev"
script: bundle exec rake spec
